.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      
    }
   
    
    
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }
  #adv-img{
    position: absolute;
    left: 650px;
    bottom: -210px;
    margin-bottom: 10px;
    overflow: hidden;
  
  }
  .first-img-container{
    img{

    max-width: 890px;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    margin: -140px 10px 10px 10px;
    }

  }
  .first-img-container p{
    
    padding: 10px 10px 10x 10px;
    display: grid;
    grid-template-columns: 850px;
    
    
    
    
  }
  .fun-bus-logo{
    text-align: right;
    position: relative;
    top: -20px;
 
    
  }
  
 
  
  .background-div nav a{
    background: black;
  
  }
  .border1{
    max-width: 100%;
    
    padding: 10px 10px 10px 10px;
  }
  .btn{
    .all-buttons();
    &:hover{
      color: goldenrod;
      transform: translatex(-10px);
  }
    
  }
  @media screen and(max-width: 500px) {
     .home{
       max-width: 100%;
     }
  
  }
  /* not responsive */
  
}
// home