// Mixins in here

/* my mixins start here */
.all-buttons{
border-radius: 40%;
display: flex;
align-items: center;
font-family: 'Indie Flower', cursive;
font-size: 16px;
justify-content: center;
background-color: green;
color: whitesmoke;
height: 10vh;
width: 25.5vh;
transition: all .5s ease-in-out;
cursor: pointer;

}



